@model CxCSystem.Models.Tipos_Documentos

@{
    ViewBag.Title = "Tipo de documentos";
}

<h2>Detalles</h2>

<div>
    <h4>Tipos de documentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.Label("Cuenta contable")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_contable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
